
.Header{    
    border: solid 1px $border-color;
    background-color: #ffffff;
        > .row{
          >  .col-md-3{
             
            }
        }
        .header-left__controls{
            display: flex;
            align-items: center;
            border-#{$start}: solid 3px #f5f5f5;
            
            .header__back-circle{
                width: 30%;
                display: flex;
                align-items: center;   
                justify-content: center;
                padding: 4px;
                @if $start == 'right' {
                    transform: rotateZ(180deg);
                    -webkit-transform: rotateZ(180deg);
                    -moz-transform: rotateZ(180deg);
                    -ms-transform: rotateZ(180deg);
                    -o-transform: rotateZ(180deg);
            }
            button{
                border: none;
                background-color: transparent;
                span{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    svg {
                        font-size: 25px;
                    }
                }
            }
            }
            .header__page{
                width: 70%;
                border-#{$end}: 2px solid #f5f5f5;
                padding: 6px 10px;
                .dropdown-menu{
                    width: 100%;
                    position:relative;
                    .dropdown-item{
                        &.active , &:active{
                            background-color: #155ebc;
                        }
                    }
                }
                button{
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    margin: 0;
                    background: none;
                    color: #4c4c51;
                    border: none;
                    text-align: $start;
                    padding-#{$start}: 30px;
                    @if $start == 'left'{
                        font-family: 'AvertaRegular';
                    } @else{
                        font-family: 'Cairo';
                    }
                    font-weight: 600;
                    font-size: calc(14px + (14 - 9) * ((100vw - 1024px) / (1920 - 1024)));
                    padding: 7px 14px;
                    background-color: #fcfcfc;
                    border-radius: 4px;
                    span {
                        font-size: 14px; 
                    }
                    &:after{
                        display: none;
                    }
                    &:focus{
                        box-shadow: none;
                        border: none;
                    }
                    &:active{
                        background-color: unset;
                        color: #4c4c51;
                        box-shadow: none;
                    }
                    svg{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 15px;
                        #{$end}: 10px;  
                        #{$start}: unset;  
                    } 
                }
            }
            .header__style__shapre{
                width: 47px;
                display: flex; 
                align-items: center;
                justify-content: center; 
                position: relative;
                margin-#{$start}: 9px;
                transform: translateY(-7px);
                span{
                    width: 23px; 
                    height: 23px;
                    opacity: 0.6; 
                    border-radius: 50%;
                    position: absolute;  
                    &:nth-child(1){
                        background-color: #e30909;
                        top: 0px;
                        #{$start}: -1px; 
                    }
                    &:nth-child(2){ 
                        background-color: #fdd301;
                        top: 0px; 
                        transform: translateX(10%);
                    }
                    &:nth-child(3){ 
                        background-color: #0000d3;
                        #{$start}: -1px;
                        transform: translateX(35%);
                    }
                }
            }
            .header__style{ 
                width: 20%; 
                display: flex;
                align-items: center; 
                justify-content: center;
                padding: 8px;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
   
    .Header__controls{
        display: flex;
        justify-content: flex-end;
        padding: 7px 0;
        padding-#{$end}: 30px;

        button{
            text-transform: capitalize;
            border: none;
            // margin-#{$start}: 15px;
            padding: 7px 14px;
            outline: none;
            color: #fff;
            font-size: 13px; 
           
            @if $start == 'left'{
                font-family: 'AvertaRegular';
            } @else{
                font-family: 'Cairo';
            }            
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 4px;
            &.Header__controls__save{
                border: solid 1px #d2cfe3;
                background-color: unset;
                color: $button-color;
                margin-#{$end}: 15px; 
            }
       
            &.Header__controls__publish{ 
                background-color: #03a9f4;  
                @if $start == 'right' {
                    direction: ltr;
                }
                img{
                    padding-right:5px;
                }
            
            }  

            .publish , .save{
                margin-#{$end}: 5px;
                font-size: 13px;
            }  
            .save{
                margin-#{$end}: 0;
            }
        }
        .Header__controls__reset  , .controls-publish--xs{
            display: none;
        }
    }  
}   
//media for header
@include portraitTablet{ 
    .Header {
        .header-left__controls{
            display: none;
        }
        .Header__controls {
            button{
                &.Header__controls__save , &.Header__controls__publish{
                    display: none;
                }
            }
            .Header__controls__reset , .controls-publish--xs{
                display: block;
                @if $start == 'right' {
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
}
            }
            .controls-publish--xs{
                margin-#{$start}: 15px;
            }
        }
    }
}   
@include mediumLaptop{
    .Header {
        .header-left__controls {
            .header__back-circle{
                padding: 15px 10px;
                span{
                    width: 30px;
                    height: 30px;
                }
            }
            .header__page button{
                padding: 19px 10px;
            }
        }
    }
    .Home {
        .Home__sidebar{
            padding: 10px;
        }
    }
}
@include portraitTablet{
    .Header {
        .Header__controls{
            padding-#{$end}: 15px;
            .controls-publish--xs{
            }
        } 
        .burger-menu{
            padding-#{$start}: 15px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            background-color: #e0ddef; 
            padding: 6px 10px;
            margin: 0 10px;
        } 
    } 
}