
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-size: 1em;  
    overflow-x: hidden;
  }
  
  // custom scrollbar 
  /* width */
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #155ebc; 
    border-radius: 10px;
  }


.Home {
  background-color: white;

  .iframe-site{
    width: 100%;
    height: calc(100vh - 110px);    
    border: solid 1px #d5d5e0;    
    padding: 20px 40px;
  }
  .Home__sidebar{
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 100%;
    background: #f8f7ff; 
    padding: 18px;
    border-right: solid 1px #d5d5e0;
    .Home__sidebar__header{ 
      display: flex;
      flex-direction: column;  
      .sidebar__header__section{
        margin-bottom: 22px;
        h2{
          font-size: 18px;
          color: $main-color; 
          margin-bottom: 12px;
          text-transform: capitalize;
        }
        .label{
          background-color: #fff; 
          border: solid 1px #d5d5e0;
          a{
          font-size: 14px;
          font-weight: bold;
          display: block;
          padding: 15px;
          color: $main-color;
          position: relative;
          &:hover{   
            text-decoration: none;
          }
          img , span{
            margin-right: 10px ; 
          } 
          svg{ 
            position: absolute;
            right: 19px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        } 
      }
      .header__section--add{
        display: block;
        width: 100%;
        background-color: #fff;
        border: dashed 2px #d5d5e0;
        margin-top: 10px;
        padding: 10px;
        color: #4c4c51;
        font-weight: bold;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          padding-right: 6px;
        }
      }
      }
  
    }
  }
}

 
   