
@font-face {
  font-family: 'AvertaBold';
  src: url('../assets/Fonts/EN-fonts/Averta/AvertaBold.otf') format("opentype");
}
@font-face {
  font-family: 'AvertaRegular';
  src: url('../assets/Fonts/EN-fonts/Averta/AvertaDemo-Regular.otf') format("opentype");
}
@font-face {
  font-family: 'AvertaExtraBold';
  src: url('../assets/Fonts/EN-fonts/Averta/AvertaExtraBold.otf') format("opentype");
}
@font-face {
  font-family: 'AvertaSemibold';
  src: url('../assets/Fonts/EN-fonts/Averta/AvertaSemibold.otf') format("opentype");
}
@font-face {
  font-family: 'AvertaThin';
  src: url('../assets/Fonts/EN-fonts/Averta/AvertaThin.otf') format("opentype");
}
html, body {
    margin: 0; 
    padding: 0;
    background-color: #f5f6f8 !important;
    @if $start == 'left'{
      font-family: 'AvertaRegular';
  } @else{
      font-family: 'Cairo';
  }    font-size: 1em;  
    overflow-x: hidden;
    .Loading_app{
      position: absolute;width: 100%;
      background: #fff;
      z-index: 999;
      height: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
.generic-alert{
  .modal-body{
    text-align: $start;
  }
}
  .hidden{
    overflow: hidden !important;
    position: relative;
    height: 100%;
  }
  //ovvride bootstrap button
  .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus{
    box-shadow: none;
  }
  //d-xs show only in mobile from (0 to 768px)
.Select__Img {
  color: #03a9f4;
  margin-top: 5px;
  height: 67px;
  width: 67px;
  background-color: transparent;
  margin: 0;
  border: 2px dashed #b4b4b4;
  vertical-align: top;
  font-size: 11px;
 &:hover,&:focus {
  text-decoration: none;
  color: #03a9f4;
  background-color: #fafafa;
  box-shadow: none;
}
}
.Clear__Img {
    background-color: #F44336;
    color: #fff;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    padding: 0 0 3px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    #{$start}: 80px;
    img {
      width: 10px;
      height: 10px;
      line-height: 20px;
      position: relative;
      top: -2px;
    }
  &:hover,&:focus {
    text-decoration: none;
    color: #fff;
    box-shadow: none;

  }
}
  .d-xs{
    display: none;  
  }
  //hidden class
  body{  
    overflow: hidden; 
  }
  .Header {
    margin-bottom: 19px;
    .body__section {
      box-shadow: none !important;
      // border-#{$start}: 2px solid #f5f5f5;
      border-radius: 0;
    }
  }
  .generic-alert {
    .modal-content {
      .modal-header {
        padding: 20px 25px;
        width: 100%;
        margin: auto;
        .modal-title {
          font-size: 14px;
          color: #080808;
          @if $start == 'left'{
            font-family: 'AvertaSemibold';
            } @else{
            font-family: 'Cairo';
            }  
        }
        .Pop_del_Sec.modal-title{
            font-size: 15px;
            @if $start == 'left'{
              font-family: 'AvertaSemibold';
              } @else{
              font-family: 'Cairo';
              text-align: right;
              }
            color: #2c2c35;
        }
      }
      .Msg_Pop_Del_Sec.modal-body{
        font-size: 15px;
        font-weight: 600;
        @if $start == 'left'{
          font-family: 'AvertaSemibold';
          } @else{
          font-family: 'Cairo';
          text-align: right;
          }
        padding: 32px 25px;
      }
      .modal-footer {
        border-top: none;
        padding: 0 .75rem .75rem;
        button {
          font-size: 14px;
          height: 40px;
          min-width: 100px;
        }
        .btn-danger {
          background-color: #c40000;
          border-color: #c40000;
        }
      }
    }
  }
  .modal-header .close {
    @if $start == 'left'{
      float: left;
      margin-left: 0;
    } @else{
      float: right;
      margin-right: 0;
  }
  //generic classes
  .generic-alert{
    .modal-title{
      font-weight: bold; 
      font-size: calc(12px + (12 - 9) * ((100vw - 1024px) / (1920 - 1024)));
      color: $main-color;  

    @if $start == 'left'{
        font-family: 'AvertaRegular';
      } @else{
          font-family: 'Cairo';
      }
    }
    .modal-content{
      border-radius: 0;
      padding: 20px;
    }

   
    }
    .modal-header , .modal-body{
      padding-#{$start}: 0;
      color: $main-color;  
    }
    .modal-body{
      font-size: calc(12px + (12 - 9) * ((100vw - 1024px) / (1920 - 1024)));
      font-weight: 300;
      color: #4c4c51ad;
      text-align: $start;
      @if $start == 'left'{
        font-family: 'AvertaRegular';
      } @else{
          font-family: 'Cairo';
      }
    }
    .modal-footer{
      border-top: none;
      padding: 0;
      button{
        border-radius: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        -ms-border-radius: none;
        -o-border-radius: none;
}
    }
  }
  @include portraitTablet{
    //ovvride grid bootstrap in 768px
    .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
      flex: 0 0 100%;
      max-width: 100%;
    } 
    .col-6{
      flex: 0 0 50%;
      max-width: 50%;
    }
    .d-xs{
      display: flex;
    }
  }
  .modal-backdrop {
    opacity: 0.7;
  }
  // custom scrollbar 
  /* width */
  *::-webkit-scrollbar {
    width: 6px; 
  }
  
  /* Track */
  *::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border-radius: 4px;
  }


.Home {
  background-color: #f5f6f8;
.main-frame{
  margin: 0; 
}
  .iframe-site{
    width: 100%;
    height: calc(100vh - 85px);    
    border: none;
  }
  .Home__sidebar{ 
    position: absolute;
    top: 0; 
    #{$start}: 0;
    height: 100%; 
    padding: 10px 20px;
    height: calc(100vh - 79px);
    overflow-y: auto;
    z-index: 2;
    .header__section--add{
      display: block;
      width: 100%;
      background-color: #fff;
      border: 1px solid #f3f3f3;
      border-radius: 4px;
      margin-top: 10px;
      padding: 12px;
      color: #4c4c51;
      font-weight: bold;
      outline: none;
      display: flex;
      align-items: start;
      justify-content: start;
      text-align: start;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07);
      font-size: 14px;
      line-height: 24px;
      color: #155ebc;
      cursor: pointer;
      @if $start == 'left'{
        font-family: 'AvertaRegular';
      } @else{
        font-family: 'Cairo';
    }        svg{
        margin-#{$end}: 10px;
        color: #155ebc;
        background-color: #eee;
        padding: 3px;
        height: 22px;
        width: 22px;
        border-radius: 4px;
      }
    }
    &.Home__sidebar__HomePage {
      height: calc(100vh - 79px);
    }
    .Home__sidebar__header{ 
      display: flex;
      flex-direction: column;  
      .generic-sidebar__section__list {
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07);
      }

      .sidebar__header__section{
        margin-bottom: 30px;
&.sidebar__header__section--add {
  margin-top: -15px;
}

        h2{
          font-size: 18px;
          font-size: calc(13px + (18 - 9) * ((100vw - 1024px) / (1920 - 1024)));
          color: $main-color; 
          margin-bottom: -6px;
          text-transform: capitalize;
          @if $start == 'left'{
            font-family: 'AvertaBold';
          } @else{
            font-family: 'Cairo';
        }
          text-align: $start;
           display: flex;
          justify-content: space-between;
        }

        h6 {
          font-size: 12px;
          font-size: calc(11px + (18 - 9) * ((100vw - 1024px) / (1920 - 1024)));
          font-weight: 600;
          color: #919191;
          text-transform: capitalize;
          margin-bottom: 15px;
          @if $start == 'left'{
            font-family: 'AvertaRegular';
          } @else{
            font-family: 'Cairo';
        }
          text-align: $start;
           display: flex;
          justify-content: space-between;
        } 
        .label{
          border-radius: 4px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        position: relative;
          &:not(:last-child){
            border-radius: 0;
            box-shadow: none;
          }
         & > a,& > div{
          font-weight: bold;
          padding: 11px;
          color: $main-color;
          position: relative;
          font-size: calc(14px + (14 - 9) * ((100vw - 1024px) / (1920 - 1024)));
          @if $start == 'left'{
            font-family: 'AvertaRegular';
          } @else{
            font-family: 'Cairo';
        }
           // display: flex;
           display: inline-block;
           width: 100%;
           padding-#{$end}: 46px; 
          padding-#{$start}: 39px; 
          justify-content: flex-start;
          cursor: pointer;
          text-align: start;
          & + form {
            display: inline-block;
            position: absolute;
            #{$end}: 0;
            bottom: 12px;
            padding: 0 6px;
          }
          &:hover{   
            text-decoration: none;
          }
          img , span{
            margin-#{$end}: 10px ; 
            font-size: 13px;
            line-height: 27px;
          } 
          // span{  
          //   display: inline-block;
          //   width: 80%;  
          //   text-align: $start; 
          // } 
          img , svg{ 
            position: absolute;
            top: 50%;
            @if $start == 'right' {
              transform: rotateY(180deg) translateY(-50%);
              -webkit-transform: rotateY(180deg) translateY(-50%);
              -moz-transform: rotateY(180deg) translateY(-50%);
              -ms-transform: rotateY(180deg) translateY(-50%);
              -o-transform: rotateY(180deg) translateY(-50%);
            }@else{
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
            }

            &.label--delete{
              #{$end}: 10px;
              #{$start}: unset;
            }  
            &.label__icon{
              position: absolute; 
              #{$start}: 10px;  
              top: 50%;
              transform: translateY(-50%);
              width: 22px;
              height: 22px;
            }
          }
          img{
            &.label--delete{
              #{$end}: 0;

            } 
      
          }
        } 
      }
      ul {
        border-radius: 4px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07);
        overflow: hidden;
        .label {
          border-bottom: solid 1px #f1f1f1;
          &:last-child {
            border-bottom: none;
          }
        }
      }
 
       }
       .generic-sidebar__section {
        h2{
          margin-bottom: 20px;
          display: flex;
          align-items: center;
        }
        .label {
          border-bottom: 1px solid #f7f7f7 ;
          &:last-child {
            border-bottom:none ;
          }
          .Header_Box_Section {
            padding-#{$start}: 15px !important;
          }
        }
       
      }
    }
  }

}
.Home {
  .Home__sidebar {
    .Home__sidebar__header {
      .sidebar__header__section {
        .Parent_Cart {
          .label{
            > div , a{
              padding-#{$start}: 20px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .hidden--md{
    display: none;
  }
  .body__section {
    width: calc( 100% - 329px);
    max-width: calc( 100% - 329px);
    flex: 1;
  }
}
@include mediumLaptop{
  .Home {
    .Home__sidebar {
      .Home__sidebar__header {
        .sidebar__header__section {
          h2{
            font-size: calc(12px + (14 - 7) * ((100vw - 768px) / (1023 - 768)));
          } 
          h6 {
            font-size: calc(6px + (14 - 7) * ((100vw - 768px) / (1023 - 768)));
        } 
          .label {
            a{
              padding: 10px;
              // padding-#{$start}: 70px;
            }
          }
        } 
      }  
    } 
  }

}
@include portraitTablet{
   
  .Home {
      .main-frame{
          margin: 15px; 
          margin-top: 80px;
      }
      .Home__sidebar{
        position: absolute;
        z-index: 2;
        top: 59px; 
        #{$start}: 0;
        width: 100%; 
        height: calc(100vh - 44px);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        @if $start == 'right'{
          transform:  translateX(100%);
          -webkit-transform:  translateX(100%);
          -moz-transform:  translateX(100%);
          -ms-transform:  translateX(100%);
          -o-transform:  translateX(100%);
        }  @else {
          transform:  translateX(-100%);
          -webkit-transform:  translateX(-100%);
          -moz-transform:  translateX(-100%);
          -ms-transform:  translateX(-100%);
          -o-transform:  translateX(-100%);
        }       
        &.home-sidebar--active{
          transform: translateX(0px);
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          -ms-transform: translateX(0px);
          -o-transform: translateX(0px);
     
        }       
    .Home__sidebar__header {
      .sidebar__header__section {
        h2{
          font-size: calc(14px + (14 - 9) * ((100vw - 320px) / (991 - 320)));
        }
        h6 {
          font-size: calc(6px + (14 - 9)  * ((100vw - 320px) / (991 - 320)));
        } 
        .label {
          a{
            font-size: calc(12px + (12 - 9) * ((100vw - 320px) / (991 - 320)));
          }
        }
      }
    }
}
  }
  .home-sidebar--active .Home__sidebar{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    }
  .Header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 3;
  }
 
  //generic alert
  .generic-alert{
    .modal-title {
      font-size: calc(15px + (15 - 9) * ((100vw - 320px) / (768 - 320)));
    }
    .modal-body{
      font-size: calc(13px + (13 - 9) * ((100vw - 320px) / (768 - 320)));
    }
  } 
}
.react-kanban-column{
  background-color: red;
  padding: 0;
}

 //generic add button
 .header__section--add{
  display: block;
  width: 100%;
  background-color: #fff;
  border: dashed 2px #d5d5e0;
  margin-top: 10px;
  padding: 10px; 
  color: #4c4c51;
  font-weight: bold;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  @if $start == 'left'{
    font-family: AvertaRegular;
  } @else{
    font-family: 'Cairo';
}        svg{
    padding-#{$end}: 6px;
  }
}
button:focus , select:focus{
  outline: none;
}
//generic select\
.Home .Home__sidebar .Home__sidebar__header .sidebar__header__section h6{

    font-size: calc(13px + (18 - 13) * ((100vw - 1024px) / (1920 - 1024)));
    font-weight: 400;

}
.generic-select{
  margin: 10px 0;
  position: relative;
  select{
    border: 1px solid #d2cfe3 ;
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border-radius: 4px;
    // font-weight: bold;
    color: #4c4c51;
    font-size: 14px;
  }
  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    //  #{$end}: 17px;
     @if $start == 'left'{
        right: 17px ;  
    } @else{     
     left: 17px !important;
     right: unset;
  }
    pointer-events: none;
  }
}
.header--label{
  a{
    padding-#{$start}: 15px !important;
  }
}
.set--padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.main-loader{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  &.main-loader--sec {
    display: block;
   align-items: unset;
  justify-content: unset;
  }
  .row--sec--home {
    background-color: #fff;
    padding: 13px 10px 10px;
    margin: 0 !important;
    border-bottom: 1px solid #ededed;
}
}
.main-loader .loadingStyle {
background-color: #c7c7c7;
display: inline-block;
background: linear-gradient(-45deg, #c7c7c7, #a9a9a9, #a4b6bd, #b6d3ff);
background-size: 400% 400%;
opacity: 0.3;
border-radius: 4px;
animation: gradient 2s ease infinite;
text-align: start;
&.label--sec {
  width: 150px;
  height: 20px;
  position: relative;
  top: -6px;
  margin-#{$end}: 50px;
  margin-#{$start}: 0;
 
}
&.check--sec {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 3px;
}
&.setting--sec {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: $end;
  position: relative;
  top: -9px;
}
&.languge--sec {
  height: 30px;
  width: 80px;
  margin: 0 3px;
}
&.label--row--sec {
  width: 150px;
  height: 18px;
  display: block;
  margin-bottom: 8px;
}
&.input--row--sec {
  width: 250px;
  height: 25px;
  display: block;
  margin-bottom: 15px;
}
&.checkbox--input {
  width: 18px;
  height: 18px;
}
&.checkbox--label {
  margin: 0 5px;
  width: 190px;
  height: 18px;
}
&.icon--move,
&.icon--delete{
    height: 27px;
    width: 22px;
    float: $end;
    margin-#{$start}: 5px;
}
&.icon--label{
  width: 135px;
  height: 27px;
  margin-#{$start}: 7px;
}
&.icon--input{
  width: 30px;
  height: 27px;
}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.spinner-border{
  color: #03a9f4;
}
.header--label{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    a{
      width: 100%;
    }
    .custom-switch{
      &:hover{
        cursor: pointer;
      }
    }
}

body[dir="rtl"]{
  .Header .header-left__controls .header__back-circle button span svg.back{
    transform: rotate(180deg);
  }
}

@media (min-width: 768px) {
  .sidebar__section {
    width: 329px;
    max-width: 329px;
  }
  .body__section {
    // width: calc( 100% - 329px);
    // max-width: calc( 100% - 329px);
    // flex: 1;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    overflow: hidden;
  }
}
.Header {
  .header-left__controls {
    .header__page button{
      #name_page{
        padding-#{$end}: 10px;
      }
    }
  }
}
@media (max-width: 768px) {
  .Home .Home__sidebar {
    position: fixed !important;
    background-color: #f5f6f8;
    height: 100% !important;
    padding-top: 70px !important;
  }
}
@media (min-width: 769px)  and (max-width: 1024px){
  .body__section{
    max-width: 100%;
    width: 100%;
  }
  .Home {
    .section--static{
    .Home__sidebar{
          &.home-sidebar--active{
            width: 25% !important;
          }
      }
    }
  }
}