//Fonts for LTR
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Fonts/Montserrat.eot'); /* IE9 Compat Modes */
    src: url('../assets/Fonts/Montserrat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/Fonts/Montserrat.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/Fonts/Montserrat.woff') format('woff'), /* Pretty Modern Browsers */
    url('../assets/Fonts/Montserrat.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../assets/Fonts/Montserrat.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import 'Directions/ltr-direction';
@import 'main';